body {
  font-size: 14px;
  line-height: 24px;
  color: #f7f4f1;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}
.page-tittle {
  font-size: 30px;
  line-height: 42px;
  color: #00000;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}
.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
  color: #00000;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}
.contacts h2 {
  font-size: 30px;
  line-height: 42px;
  color: #00000;
  font-weight: bold;
  font-family: "PT Sans Narrow";
}
